<template name="homepage">
  <main role="main" id="main">
    {{#if hasAdminAccess}}
    <div>
      {{> products}}
    </div>
    gt {{else}}
    <div>
      {{> homeTemplate}}
      <div class="product-section">
        <div class="container-fluid">
          <div class="row featured">
            <h1 class="text-center">Featured Products</h1>
            {{> featuredProducts}}
            {{> products}}
          </div>
        </div>
      </div>
      <div class="category-section">
        {{> category}}
      </div>
    </div>
    {{/if}}
  </main>
</template>
